@import './fonts.scss';

// VARIABLES
$livestream__height: 350px;
$sidebar__width: 250px;
$adbar__width: 200px;
$streamposts__controls__width: 68px;
// ------------------------------

.ntwinds {
    &__page {
        @apply bg-white;
    }
    
    // LAYOUT
    &__compress_layout {
        @apply mx-auto px-4;
        max-width: 1100px;
    }

    &__wide_layout {
        @apply mx-auto px-4;
        max-width: 1600px;
    }

    &__full_layout {
        @apply mx-auto;
        max-width: 100%;
    }
    // ------------------------------

    // COMPONENTS AND PAGES
    &__sidebar {
        @apply flex-none;
        width: $sidebar__width;

        &__container {
            @apply fixed overflow-y-auto;
            width: inherit;
            height: calc(theme('height.screen') - theme('height.16')); // h-16 height of header navigation
        }

        &__text {
            // w-11 width of thumbnail
            // pr-3 padding between image and text
            width: calc(theme('width.full') - (theme('width.11') + theme('spacing.3')))
        }
    }

    &__adbar {
        @apply flex-none;
        width: $adbar__width;
    }

    &__livestream {
        @apply flex flex-col md:flex-row h-full;

        &__player {
            @apply flex-grow bg-black text-white;
            min-height: $livestream__height;
        }
        
        &__activities {
            @apply overflow-y-auto;
            height: calc(theme('height.screen') - #{$livestream__height});

            @media (min-width: 768px) {
                @apply flex-none h-full;
                width: 350px;
            }
            
            @media (min-width: 1024px) {
                width: 400px;
            }

            @media (min-width: 1920px) {
                width: 600px;
            }
        }
    }

    &__streampost {
        @apply w-full flex flex-col;

        &__text {
            // w-14 width of thumbnail
            // pr-3 padding between image and text
            width: calc(theme('width.full') - (theme('width.14') + theme('spacing.3')));
            min-height: theme('height.4');
        }

        &__controls {
            @apply flex flex-col justify-end;
            width: $streamposts__controls__width;
        }

        &__preview {
            width: calc(theme('width.full') - #{$streamposts__controls__width});
            max-width: 520px;
            height: 250px;
        }
    }

    &__videopreview {
        @apply relative w-full h-full flex justify-center z-0 bg-black rounded-md overflow-hidden shadow-lg;
        
        &__backdrop {
            @apply absolute rounded-md filter-blur;
            z-index: 0;
            margin: -15px -5px -5px -5px;
            width: calc(theme('width.full') + 30px);
            height: calc(theme('height.full') + 30px);
        }

        &__image {
            @apply h-full;
            z-index: 1;
        }

        &__top_stats, 
        &__bottom_stats {
            @apply absolute w-full flex justify-between p-3;
            z-index: 2;
        }

        &__top_stats {
            @apply top-0;
        }

        &__bottom_stats {
            @apply bottom-0;
        }
    }

    &__categories_banner {
        background: linear-gradient(0deg, #fff, rgba(247, 247, 248, 0.25)), 
                    linear-gradient(90deg, #fff, rgba(247, 247, 248, 0.25)), 
                    url('https://static-cdn.jtvnw.net/categorydb-production-game-banners/21779/en-us/bd139c1e-d10b-41e0-b8c0-17c12f1c6a96.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    // ------------------------------

    // UTILITIES
    &__transition {
        /* Enter and leave animations can use different */
        /* durations and timing functions.              */
        &__slidedown-leave-active,
        &__slidedown-enter-active {
            transition: max-height 0.3s ease-in-out;
            overflow: hidden;
        }

        &__slidedown-enter-to,
        &__slidedown-leave-from {
        // TODO: this large height causes some delay illusion when closing the menu
        max-height: 800px;
        }
        
        &__slidedown-enter-from,
        &__slidedown-leave-to {
            overflow: hidden;
            max-height: 0;
        }
    }
    // ------------------------------
}

// util classes to be deleted later
.placeholder {
    @apply bg-gray-100 p-5;
    width: 100%;
    min-height: 32px;
}